@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&display=swap');
*{
    /* outline: red solid 2px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
footer .button{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color:  rgb(36, 60, 116);
    border: none;
    cursor: pointer;
    margin: 10px auto;
}
.button:hover{
    background-color: rgb(255, 194, 81);
    color: rgb(36, 60, 116);
    font-weight: 700;
}
    /* NAVIGATION BAR */
header{
    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10%;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.logo{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    margin-right: 60px;
}
.navLinks li{
    list-style: none;
    display: inline-block;
}
.navLinks li>a{
    padding: 15px;
    margin-right: 25px;
    /* textEdit */
    color: white;
    font-weight: 50;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}
.navLinks li>a:hover{
    color: rgb(36, 60, 116);
    font-weight: 700;
    background-color: rgb(255, 194, 81);
}
/* DROPDOWN */
.serviceDropdown{
    display: inline-block;
    position: relative;
}
.serviceOptions{
    display: none;
    position: absolute;
    overflow: auto;
    padding: 15px;
    margin: 10px 5px;
    width: 400px;
    margin: 11px 0 0 0;
    background-color:rgb(36, 60, 116);
    box-shadow: 0 0 20px rgb(36, 60, 116);
}
.serviceOptions a{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 8px;
    display: inline-block;
    /* textEdit */
    color: white;
    font-weight: 200;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.serviceOptions a:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
.serviceDropdown:hover .serviceOptions{
    display: block;
}
.contactUs{
    display: block;
    width: 200px;
    height: 80px;
    border: none;
    padding: auto;
    margin: auto;
    background-color: white;
    /* textEdit */
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
}
.contactUs:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
/* HAMBURGER */
#navbar.show-navbar {
    display: block;
}
.hamburgerButton {
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    width: 20px;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 2px;
    background-color: white;
}
/* PADDING */
.pad{
    width: 100vw;
    height: 400px;
    margin-top: 180px;
    object-fit: cover;
}
.padding h1{ 
    margin: -18vh 0 12vh 0;
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "lobster two", sans-serif;
}
/* LOOPED SECTION */
.loopedSection{
    margin: auto;
    width: 100vw;
    height: fit-content;
    padding: 3rem 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.loopedSectionOne{
    width: 30%;
    height: fit-content;
    margin: auto;
}
.loopedSectionOne video{
    width: 500px;
    height: 450px;
    object-fit: cover;
}
.loopedSectionTwo{
    width: 60%;
    height: fit-content;
    padding: 2rem;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
}
.loopedSectionTwo h1{
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 2.2rem;
    color: rgb(36, 60, 116);
    margin-top: 1.5rem;
}
.bold{
    color: rgb(255, 194, 81);
}
/* GOALS */
.goals{
    width: 100vw;
    height: fit-content;
    padding: 2rem;
}
.goalsDiv{
    width: 90%;
    height: fit-content;
    margin: auto;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2rem;
}
.goalsDiv>h1{
    font-family: "cinzel decorative", sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 194, 81);
    text-align: center;
}
.goalsDiv h2{
    font-family: "Anton", sans-serif;
    font-size: 2.2rem;
    color: rgb(36, 60, 116);
    text-align: center;
}
/* OUR PARTNERS */
.ourPartners{
    width: 100vw;
    height: fit-content;
    padding: 2rem;
}
.ourPartners h1{
    font-family: "cinzel decorative", sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 194, 81);
    text-align: center;
}
.partners{
    width: 100%;
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.partners img{
    width: 15rem;
    height: 15rem;
    border: solid 2px rgb(36, 60, 116);
}
.partners img:hover{
    transform: scale(1.1);
    transition: 0.8s all ease;
    box-shadow: 0 0 20px rgb(36, 60, 116);
    border: none;
}
/* SKILL CAROUSEL */
.skillCarouselContainer{
    scroll-behavior: smooth;
    overflow: auto;
    white-space: nowrap;
    width: 100vw;
    height: fit-content;
    padding: 1rem;
    background-color: rgba(36, 60, 116, 0.2);
}
.skillCarouselContainer img{
    width: 60%;
    height: 30vh;
    object-fit: cover;
    padding: 0px;
    margin: auto;
}
/* WHY CHOOSE US */
.whyChooseUs{
    display: block;
    padding: 2rem;
    width: 95vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 10vh;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2rem;
}
.whyChooseUs>h1{
    font-family: "cinzel decorative", sans-serif;
    font-size: 2.5rem;
    color: rgb(255, 194, 81);
    text-align: center;
}
.WhyUsGallery{
    width: 100%;
    height: fit-content;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    border: 2px solid rgb(36, 60, 116);
}
.wuGalleryDiv{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}
.textDiv{
    width: 40%;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2rem;
}
.textDiv h2{
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 2.5rem;
    color: rgb(36, 60, 116);
    text-align: center;
    margin: auto;
}
.reverse{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.pictureDiv{
    width: 60%;
    height: 30vh;
}
.pictureDiv img{
   width: 100%;
   height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}
/* FOOTER */
footer{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    padding: 1.5rem;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.footerOne{
    width: 20%;
    padding: 1rem;
    height: fit-content;
    margin: auto;
}
.footerOneDiv{
    width: 100%;
    height: fit-con tent;
    padding: 1px;
}
.contactText {
    display: inline-block;
    width: 60%;
    height: fit-content;
    color: white;
    font-family: Montserrat;
    font-size: 0.7rem;
}
.contactImages{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.contactImages img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}
.socials{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}
.socialsDiv{
    margin: auto;
    margin-right: 20px;
    width: 2rem;
    height: 2rem;
}
.socialsDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.socialsDiv img:hover{
    transform: translateY(10px);
}
.footerTwo{
    width: 40%;
    padding: 1rem;
    height: fit-content;
    margin: auto;
}
.footerTwoDiv {
    width: 100%;
    height: fit-content;
    /* text edit */
    font-family: Montserrat;
    text-align: justify;
    text-indent: 15px;
    font-size: 0.7rem;
    color: white;
}
.f-title {
    font-size: 0.9rem;
    font-family: "Cinzel Decorative";
    color: rgb(255, 194, 81);
    margin-bottom: 0.5rem;
    text-align: center;
}
.footerThree{
    margin: auto;
    width: 17%;
    height: fit-content;
    padding: 0.5rem;
}
.footerThreeDiv{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
footer li>a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 0.7rem;
    color: white;
}
footer li>a:hover{
    color: rgb(255, 194, 81);
}
footer li{
    list-style-type:square;
    color: white;
    font-family: Montserrat;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.footerFour{
    margin: auto;
    width: 17%;
    height: fit-content;
}
.footerFourDiv{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
/* MEDIA QUERY */
/*319px - 480px - MOBILE DEVICES*/
@media (min-width: 319px) and (max-width: 480px) {
    footer .button{ 
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.5rem;
        display: block;
        padding: 0.5rem 1rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 10px auto;
    }
    .button:hover{
        background-color: rgb(255, 194, 81);
        color: rgb(36, 60, 116);
        font-weight: 700;
    }
    /* PADDING */
    .pad{
        width: 100vw;
        height: 30vh;
        margin-top: 5vh;
        object-fit: cover;
    }
    .padding h1{
        margin: -15vh 0 10vh 0;
        font-weight: 200;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "lobster two", sans-serif;
    }
    /* LOOPED SECTION */
    .loopedSection{
        margin: auto;
        margin-bottom: -2rem;
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .loopedSectionOne{
        width: 65%;
        height: 32vh;
        margin: auto;
    }
    .loopedSectionOne video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .loopedSectionTwo{
        width: 100%;
        height: fit-content;
        padding: 1rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 0.7rem;
    }
    .loopedSectionTwo h1{
        text-align: center;
        font-family: "Anton", sans-serif;
        font-size: 1rem;
        color: rgb(36, 60, 116);
        margin-top: 0.5rem;
    }
    .bold{
        color: rgb(255, 194, 81);
    }
    /* GOALS */
    .goals{
        width: 100vw;
        height: fit-content;
        padding: 1rem;
    }
    .goalsDiv{
        width: 90%;
        height: fit-content;
        margin: auto;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        text-align: justify;
        text-indent: 20px;
        font-size: 0.7rem;
    }
    .goalsDiv>h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 1.5rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .goalsDiv h2{
        font-family: "Anton", sans-serif;
        font-size: 1rem;
        color: rgb(36, 60, 116);
        text-align: center;
    }
    /* OUR PARTNERS */
    .ourPartners{
        margin-top: -2rem;
        width: 100vw;
        height: fit-content;
        padding: 1.5rem;
    }
    .ourPartners h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 1.5rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .partners{
        margin: auto;
        margin-bottom: 2rem;
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    .partners img{
        width: 4rem;
        height: 4rem;
        border: solid 2px rgb(36, 60, 116);
    }
    .partners img:hover{
        transform: none;
        transition: 0.8s all ease;
    }
    /* SKILL CAROUSEL */
    .skillCarouselContainer{
        scroll-behavior: smooth;
        overflow: auto;
        white-space: nowrap;
        width: 100vw;
        height: fit-content;
        padding: 0.5rem;
        background-color: rgba(36, 60, 116, 0.2);
    }
    .skillCarouselContainer img{
        width: 60%;
        height: 20vh;
        object-fit: cover;
        padding: 0px;
        margin: auto;
    }
    /* WHY CHOOSE US */
    .whyChooseUs{
        display: block;
        padding: 2rem;
        width: 100vw;
        height: fit-content;
        margin: auto;
        margin-bottom: 10vh;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 0.7rem;
    }
    .whyChooseUs>h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 1.5rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .WhyUsGallery{
        width: 100%;
        height: fit-content;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid rgb(36, 60, 116);
    }
    .wuGalleryDiv{
        width: 100%;
        height: fit-content;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }
    .textDiv{
        width: 100%;
        height: fit-content;
        margin: auto;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 0.7rem;
    }
    .textDiv h2{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1rem;
        color: rgb(36, 60, 116);
        text-align: center;
        margin: auto;
    }
    .pictureDiv{
        width: 100%;
        height: 20vh;
    }
    .pictureDiv img{
       width: 100%;
       height: 100%;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}
/* 481PX - 1200PX - IPADS & TABETS */
@media (min-width: 481px) and (max-width: 1200px) {
    footer .button{
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.6rem;
        display: block;
        padding: 0.5rem 1rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 10px auto;
    }
    .button:hover{
        background-color: rgb(255, 194, 81);
        color: rgb(36, 60, 116);
        font-weight: 700;
    }
    /* PADDING */
    .pad{
        width: 100vw;
        height: 30vh;
        margin-top: 5vh;
        object-fit: cover;
    }
    .padding h1{
        margin: -14vh 0 9vh 0;
        font-weight: 200;
        font-size: 4rem;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "lobster two", sans-serif;
    }
    /* LOOPED SECTION */
    .loopedSection{
        margin: auto;
        margin-bottom: -2rem;
        width: 100vw;
        height: fit-content;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .loopedSectionOne{
        width: 40%;
        height: 25vh;
        margin: auto;
    }
    .loopedSectionOne video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .loopedSectionTwo{
        width: 60%;
        height: fit-content;
        padding: 2rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
    }
    .loopedSectionTwo h1{
        text-align: center;
        font-family: "Anton", sans-serif;
        font-size: 1.8rem;
        color: rgb(36, 60, 116);
        margin-top: 0.5rem;
    }
    .bold{
        color: rgb(255, 194, 81);
    }
    /* GOALS */
    .goals{
        width: 100vw;
        height: fit-content;
        padding: 1rem;
    }
    .goalsDiv{
        width: 90%;
        height: fit-content;
        margin: auto;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        text-align: justify;
        text-indent: 20px;
        font-size: 1rem;
    }
    .goalsDiv>h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 2rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .goalsDiv h2{
        font-family: "Anton", sans-serif;
        font-size: 1.8rem;
        color: rgb(36, 60, 116);
        text-align: center;
    }
    /* OUR PARTNERS */
    .ourPartners{
        width: 100vw;
        height: fit-content;
        padding: 2rem;
    }
    .ourPartners h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 2rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .partners{
        margin-bottom: 2rem;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .partners img{
        width: 10rem;
        height: 10rem;
        border: solid 2px rgb(36, 60, 116);
    }
    .partners img:hover{
        transform: none;
        transition: 0.8s all ease;
    }
    /* SKILL CAROUSEL */
    .skillCarouselContainer{
        scroll-behavior: smooth;
        overflow: auto;
        white-space: nowrap;
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        background-color: rgba(36, 60, 116, 0.2);
    }
    .skillCarouselContainer img{
        width: 60%;
        height: 20vh;
        object-fit: cover;
        padding: 0px;
        margin: auto;
    }
    /* WHY CHOOSE US */
    .whyChooseUs{
        display: block;
        padding: 3rem;
        width: 100vw;
        height: fit-content;
        margin: auto;
        margin-bottom: 10vh;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 1rem;
    }
    .whyChooseUs>h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 2rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .WhyUsGallery{
        width: 100%;
        height: fit-content;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        border: 2px solid rgb(36, 60, 116);
    }
    .wuGalleryDiv{
        width: 100%;
        height: fit-content;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }
    .textDiv{
        width: 60%;
        height: fit-content;
        margin: auto;
        padding: 1rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 1rem;
    }
    .textDiv h2{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.8rem;
        color: rgb(36, 60, 116);
        text-align: center;
        margin: auto;
    }
    .reverse{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .pictureDiv{
        width: 40%;
        height: 18vh;
    }
    .pictureDiv img{
       width: 100%;
       height: 100%;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}
/* 1201PX - 1600PX - LAPTOPS */
@media (min-width: 1201px) and (max-width: 1600px) {
    footer .button{ 
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.8rem;
        display: block;
        padding: 0.5rem 1rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 10px auto;
    }
    .button:hover{
        background-color: rgb(255, 194, 81);
        color: rgb(36, 60, 116);
        font-weight: 700;
    }
    /* PADDING */
    .pad{
        width: 100vw;
        height: 30vh;
        margin-top: 10vh;
        object-fit: cover;
    }
    .padding h1{
        margin: -15vh 0 6vh 0;
        font-weight: 200;
        font-size: 3.5rem;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "lobster two", sans-serif;
    }
    /* LOOPED SECTION */
    .loopedSection{
        margin: auto;
        width: fit-content;
        height: fit-content;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .loopedSectionOne{
        height: fit-content;
        width: fit-content;
    }
    .loopedSectionOne video{
        width: 22rem;
        height: 20rem;
        object-fit: cover;
       
    }
    .loopedSectionTwo{
        width: 60%;
        height: fit-content;
        padding: 2rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 0.8rem;
    }
    .loopedSectionTwo h1{
        text-align: center;
        font-family: "Anton", sans-serif;
        font-size: 1.5rem;
        color: rgb(36, 60, 116);
        margin-top: 1rem;
    }        
    .bold{
        color: rgb(255, 194, 81);
    }
    /* GOALS */
    .goals{
        width: 100vw;
        height: fit-content;
        padding: 2rem;
    }
    .goalsDiv{
        width: 80%;
        height: fit-content;
        margin: auto;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        text-align: justify;
        text-indent: 20px;
        font-size: 0.8rem;
    }
    .goalsDiv>h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 2rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .goalsDiv h2{
        font-family: "Anton", sans-serif;
        font-size: 1.8rem;
        color: rgb(36, 60, 116);
        text-align: center;
    }
    /* OUR PARTNERS */
    .ourPartners{
        width: 100vw;
        height: fit-content;
        padding: 2rem;
    }
    .ourPartners h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 2rem;
        color: rgb(255, 194, 81);
        text-align: center;
        margin-bottom: 1rem;
    }
    .partners{
        margin-bottom: 2rem;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .partners img{
        width: 10rem;
        height: 10rem;
        border: solid 2px rgb(36, 60, 116);
    }
    .partners img:hover{
        transform: scale(1.1);
        transition: 0.8s all ease;
        box-shadow: 0 0 20px rgb(36, 60, 116);
        border: none;
    }
    /* SKILL CAROUSEL */
    .skillCarouselContainer{
        scroll-behavior: smooth;
        overflow: auto;
        white-space: nowrap;
        width: 100vw;
        height: fit-content;
        padding: 1rem;
        background-color: rgba(36, 60, 116, 0.2);
    }
    .skillCarouselContainer img{
        width: 60%;
        height: 30vh;
        object-fit: cover;
        padding: 0px;
        margin: auto;
    }
    /* WHY CHOOSE US */
    .whyChooseUs{
        display: block;
        padding: 2rem;
        width: 95vw;
        height: fit-content;
        margin: auto;
        margin-bottom: 10vh;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 0.8rem;
    }
    .whyChooseUs>h1{
        font-family: "cinzel decorative", sans-serif;
        font-size: 2rem;
        color: rgb(255, 194, 81);
        text-align: center;
    }
    .WhyUsGallery{
        width: 100%;
        height: fit-content;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem;
        border: 2px solid rgb(36, 60, 116);
    }
    .wuGalleryDiv{
        width: 100%;
        height: fit-content;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }
    .textDiv{
        width: 40%;
        height: fit-content;
        margin: auto;
        padding: 1rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 0.8rem;
    }
    .textDiv h2{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.5rem;
        color: rgb(36, 60, 116);
        text-align: center;
        margin: auto;
    }
    .reverse{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .pictureDiv{
        width: 60%;
        height: 30vh;
    }
    .pictureDiv img{
       width: 100%;
       height: 100%;
        object-fit: cover;
        display: block;
        margin: auto;
    }
}
/* NAVBAR  */
@media (min-width: 482px) and (max-width: 1600px ) { 
        /* NAVIGATION BAR */
    header{
        z-index: 50;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 10%;
        background-color: rgb(36, 60, 116);
        box-shadow: 0 0 30px rgb(36, 60, 116);
    }
    .logo{
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin-right: 40px;
    }
    .navLinks li{
        list-style: none;
        display: inline-block;
    }
    .navLinks li>a{
        padding: 10px;
        margin-right: 15px;
        /* textEdit */
        color: white;
        font-weight: 50;
        font-size: 0.7rem;
        font-family: "Montserrat", sans-serif;
    }
    .navLinks li>a:hover{
        color: rgb(36, 60, 116);
        font-weight: 700;
        background-color: rgb(255, 194, 81);
    }
    /* DROPDOWN */
    .serviceDropdown{
        display: inline-block;
        position: relative;
    }
    .serviceOptions{
        display: none;
        position: absolute;
        overflow: auto;
        padding: 15px;
        margin: 10px 5px;
        width: 250px;
        margin: 11px 0 0 -50px;
        background-color:rgb(36, 60, 116);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .serviceOptions a{
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 8px;
        display: inline-block;
        /* textEdit */
        color: white;
        font-weight: 200;
        font-size: 0.7rem;
        font-family: "Montserrat", sans-serif;
    }
    .serviceOptions a:hover{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
    .serviceDropdown:hover .serviceOptions{
        display: block;
    }
    .contactUs{
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        padding: 1rem 1.5rem;
        margin: auto;
        background-color: white;
        /* textEdit */
        font-weight: 200;
        font-size: 0.8rem;
        text-decoration: none;
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
    }
    .contactUs:hover{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
}
/* HAMBURGER TOGGLE */
@media (max-width: 750px) {
    /* HAMBURGER */
    .hamburgerMenu {
        z-index: 50;
        display: block; 
        top: 0;
        left: 0;
        position: fixed;
        padding: 20px;
        height: 60px;
        width: 100vw;
        background-color: rgb(36, 60, 116);
        box-shadow: 0 0 10px rgb(36, 60, 116);
    }
    .hamburgerMenu.active + header {
        display: none;
    }
    .bar {
        margin-bottom: 5px;
        width: 20px;
        height: 4px;
        background-color: rgb(129, 152, 207);
        border-radius: 2px;
    }
    /* NAVBAR */
    header{
        display: none;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 0;
        padding: 20px;
    }
    .logo{ 
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin: auto;
    }
    nav{ 
        margin: auto;
        margin-top: 5px;
        display: block;
    }
    .navLinks li{
        list-style: none;
        display: block;
    }
    .navLinks li a{
        padding: 10px;
        margin-right: 25px;
        /* textEdit */
        color: white;
        font-weight: 50;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        display: block;
    }
    .navLinks li>a:active{
        color: rgb(36, 60, 116);
        font-weight: 700;
        background-color: rgb(255, 194, 81);
    }
    /* DROPDOWN */
    .serviceDropdown{
        display: block;
        position: relative;
    }
    .serviceOptions{
        width: 250px;
        margin: 0px 0 0 -30px;
        display: none;
        position: absolute;
        overflow: auto;
        padding: 5px;
        background-color:rgb(36, 60, 116);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .serviceOptions a{
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        display: inline-block;
        /* textEdit */
        color: white;
        font-weight: 200;
        font-size: 0.8rem;
        font-family: "Montserrat", sans-serif;
    }
    .serviceOptions a:active{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
    .contactUs{
        display: block;
        width: 8rem;
        height: 2.2rem;
        border: none;
        padding: auto;
        margin: auto;
        background-color: white;
        /* textEdit */
        font-weight: 200;
        font-size: 1rem;
        text-decoration: none;
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
    }
    .contactUs:active{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
}
/* 760PX FOOTER COLUMN */
@media (max-width: 760px) { 
        /* FOOTER */
    footer{
        padding: 0.5rem;
    }
    .footerOne{
        width: 50%;
        padding: 0rem;
    }
    .contactText {
        display: inline-block;
        width: 80%;
    }
    .contactImages img{
        width: 1rem;
        height: 1rem;
    }
    .socials{
        width: fit-content;
        padding: 0.5rem;
    }
    .socialsDiv{
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .socialsDiv img:hover{
        transform: none;
    }
    .footerTwo{
        width: 45%;
        padding: 0;
    }
    .footerThree{
        margin: auto;
        width: 45%;
        padding: 0;
    }
    .footerFour{
        margin-top: 0.5rem;
        width: 45%;
    }
}