@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&display=swap');
*{
    /* outline: red solid 2px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
    /* NAVIGATION BAR */
header{
    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10%;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    margin-right: 60px;
}
.navLinks li{
    list-style: none;
    display: inline-block;
}
.navLinks li>a{
    padding: 10px;
    margin-right: 20px;
    /* textEdit */
    color: white;
    font-weight: 50;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.navLinks li>a:hover{
    color: rgb(36, 60, 116);
    font-weight: 700;
    background-color: rgb(255, 194, 81);
}
/* DROPDOWN */
.serviceDropdown{
    display: inline-block;
    position: relative;
}
.serviceOptions{
    display: none;
    position: absolute;
    overflow: auto;
    padding: 10px;
    margin: 10px 5px;
    width: 300px;
    margin: 11px 0 0 0;
    background-color:rgb(36, 60, 116);
    box-shadow: 0 0 20px rgb(36, 60, 116);
}
.serviceOptions a{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 8px;
    display: inline-block;
    /* textEdit */
    color: white;
    font-weight: 200;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.serviceOptions a:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
.serviceDropdown:hover .serviceOptions{
    display: block;
}
.contactUs{
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    padding: auto;
    margin: auto;
    background-color: white;
    /* textEdit */
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
}
.contactUs:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
/* HAMBURGER */
#navbar.show-navbar {
    display: block;
}
.hamburgerButton {
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    width: 20px;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 2px;
    background-color: white;
}
/* BODY  */
/* PADDING */
.padding h1{
    margin: -200px 0 180px 0;
    font-weight: 200;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "lobster two", sans-serif;
}
.pad{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background-position-y: 150%;
    margin-top: 11vh;
}
/* LOOPED SECTION */
.loopedSection{
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.loopedSectionOne video{
    width: 450px;
    height: 450px;
    object-fit: cover;
    padding: 30px 20px;
}
.loopedSectionTwo h1{
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 30px;
    padding: 5px;
    color: rgb(36, 60, 116);
    margin-bottom: 30px;
}
.bold{
    color: rgb(255, 194, 81);
}
.loopedSectionTwo{
    width: 50%;
    height: 500px;
    padding: 20px;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
}
.loopedText{
    width: 100%;
    height: 50%;
}
/* GOALS */
.goals{
    margin: 0 0 50px 0;
}
.goalsDiv>h1{
    font-family: "cinzel decorative", sans-serif;
    font-weight: 50;
    font-size: 40px;
    color: rgb(255, 194, 81);
    text-align: center;
}
.goalsDiv{
    width: 70vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    text-align: justify;
    text-indent: 20px;
    font-size: 15px;
}
.goalsDiv h2{
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 25px;
    color: rgb(36, 60, 116);
    text-align: center;
}
/* OUR PARTNERS */
.ourPartners{
    margin: 0 0 50px 0;
}
.ourPartnersDiv{
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: auto;
    
}
.ourPartnersDiv>h1{
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 30px;
    color: rgb(36, 60, 116);
    text-align: center;
    margin: 0 0 30px 40px;
}
.partners{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.partners>img{
    width: 180px;
    height: 180px;
    margin: 2px 0 0 20px;
    padding: 10px;
    border: solid 2px rgb(36, 60, 116);
}
.partners>img:hover{
    transform: scale(1.2);
    transition: 0.8s all ease;
    box-shadow: 0 0 20px rgb(36, 60, 116);
    border: none;
}
/* SKILL CAROUSEL */
.skillCarouselContainer{
    scroll-behavior: smooth;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgba(36, 60, 116, 0.2);
}
.skillCarouselContainer img{
    width: 90%;
    height: 300px;
    object-fit: cover;
    padding: 0px;
    margin: auto;
}
/* WHY CHOOSE US */
.whyChooseUs{
    width: 80vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    line-height: 2.5;
    font-weight: 300;
    text-align: justify;
    text-indent: 20px;
    font-size: 15px;
}
.whyChooseUs>h1{
    font-family: "cinzel decorative", sans-serif;
    font-weight: 50;
    font-size: 20px;
    color: rgb(255, 194, 81);
    text-align: center;
    margin: 0 0 15px 0;
}
.WhyUsGallery{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    border: 2px solid rgb(36, 60, 116);
}
.wuGalleryDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.reverse{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.textDiv{
    padding: 40px;
    width: 500px;
    height: fit-content;
    margin: auto;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: justify;
    text-indent: 20px;
    font-size: 15px;
    line-height: 1.2;
}
.textDiv>h2{
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 30px;
    color: rgb(36, 60, 116);
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: fit-content;
}
.pictureDiv{
    height: fit-content;
    width: fit-content;
    padding: 10px;
}
.pictureDiv{
    padding: 50px 10px;
    width: 600px;
    height: 400px;
    object-fit: cover;
}
.pictureDiv>img{
    height: 300px;
    width: 95%;
    object-fit: cover;
}
/* FOOTER */
footer{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    padding: 10px;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.footerOne{
    width: 20%;
    height: fit-content;
    padding: 0;
    margin: auto;
}
.footerOneDiv{
    width: 100%;
    height: fit-content;
}
.contactImages{
    margin-bottom: 40px;
    width: 100%;
    height: fit-content;
}
.contactImages img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.contactText{
    color: white;
    font-family: Montserrat;
    font-size: 13px;
    margin: -70px 0 10px 40px;
    width: fit-content;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: fit-content;
    margin: 20px auto;
}
.socialsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 100%;
}
.socialsDiv img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 0 0 0 10px;
}
.socialsDiv img:hover{
    transform: translateY(10px);
}
.footerTwo{
    width: 30%;
    height: fit-content;
    margin: auto;
}
.footerTwoDiv {
    width: 100%;
    height: fit-content;
    /* text edit */
    font-family: Montserrat;
    text-align: justify;
    text-indent: 15px;
    font-size: 12px;
    font-weight: 70;
    color: white;
}
.footerTwoDiv p{
    margin-bottom: 10px;
}
.f-title {
    font-size: 19px;
    font-family: "Cinzel Decorative";
    color: rgb(255, 194, 81);
    margin-bottom: 30px;
    text-align: center;
}
.footerThree{
    margin: auto;
    width: 20%;
    height: fit-content;
    padding: 10px;
}
.footerThreeDiv{
    margin: auto;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}
footer li>a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    color: white;
    font-weight: 100;
    margin-bottom: 7px;
    list-style-type:square;
}
footer li>a:hover{
    color: rgb(255, 194, 81);
}
footer li{
    list-style-type:square;
    color: white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 18px;
}
.footerFour{
    margin: auto;
    width: 20%;
    height: fit-content;
    padding: 10px;
}
.footerFourDiv{
    margin: auto;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}
/* MEDIA QUERY */
/* 576PX HAMBURGER TOGGLE ON */
@media (max-width: 576px) {
/* LOOPED SECTION */
    .loopedSection{
        width: 90%;
        height: fit-content;
        padding: 0px;
        flex-direction: column;
        gap: 10px;
    }
    .loopedSectionOne video{
        display: block;
        width: 70%;
        height: 300px;
        object-fit: cover;
        padding: 10px;
        margin: auto;
    }
    .loopedSectionTwo h1{
        font-size: 30px;
    }
    .bold{
        color: rgb(255, 194, 81);
    }
    .loopedSectionTwo{
        width: 90%;
        height: 500px;
    }
    /* GOALS */
    .goals{
        margin: 10px 0 50px 0;
    }
    .goalsDiv>h1{
        font-size: 30px;
    }
    .goalsDiv h2{
        font-size: 22px;
    }
    .goalsDiv{
        width: 80vw;
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 12px;
    }
    /* OUR PARTNERS */
    .ourPartners{
        margin: auto;
        margin: 0 0 30px 0;
    }
    .ourPartnersDiv{
        padding: 10px;
        margin: 20px auto;
    }
    .ourPartnersDiv>h1{
        display: block;
        margin: auto;
        width: fit-content;
    }
    .partners>img{
        width: 100px;
        height: 100px;
    }
    /* SKILL CAROUSEL */
    .skillCarouselContainer{
        padding: 10px;
        margin-bottom: 40px;
    }
    .skillCarouselContainer img{
        width: 50%;
        height: 200px;
    }
    /* WHY CHOOSE US */
    .whyChooseUs{
        line-height: 1.5;
        font-size: 12px;
    }
    .whyChooseUs>h1{
        font-size: 30px;
    }
    .WhyUsGallery{
        padding: 10px;
        width: 80vw;
    }
    .reverse{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .textDiv{
        padding: 10px;
        width: fit-content;
        height: fit-content;
        margin: auto;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 12px;
    }
    .textDiv>h2{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 20px;
        color: rgb(36, 60, 116);
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        width: fit-content;
    }
    .pictureDiv{
        height: fit-content;
        width: fit-content;
        padding: 10px;
    }
    .pictureDiv>img{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}
    /* 577PX - 767PX - HAMBURGER TOGGLE ON */
@media (min-width: 577px) and (max-width: 767px) { 
    /* LOOPED SECTION */
    .loopedSection{
        gap: 0px;
    }
    .loopedSectionOne video{
        width: 400px;
        height: 400px;
    }
    .loopedSectionTwo{
        width: 80%;
        height: 500px;
        padding: 20px;
    }
    .loopedText{
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
    }
    /* GOALS */
    .goals{
        margin: 0 0 50px 0;
    }
    /* OUR PARTNERS */
    .ourPartners{
        margin: 0 0 50px 0;
    }
    .ourPartnersDiv{
        width: fit-content;
        height: fit-content;
        padding: 20px;
        margin: auto;
    }
    .partners>img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 2px 0 0 30px;
        background-color: white;
        padding: 10px;
    }
    /* SKILL CAROUSEL */
    .skillCarouselContainer{
        scroll-behavior: smooth;
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
        background-color: rgba(36, 60, 116, 0.2);
    }
    .skillCarouselContainer img{
        width: 50%;
        height: 250px;
        object-fit: cover;
        padding: 0px;
        margin: auto;
    }
    /* WHY CHOOSE US */
    .whyChooseUs{
        line-height: 1.5;
    }
    .whyChooseUs>h1{
        font-size: 30px;
        color: rgb(255, 194, 81);
        text-align: center;
        margin: 0 0 15px 0;
    }
    .WhyUsGallery{
        margin: auto;
        gap: 10px;
        padding: 0px;
        width: 100%;
        height: fit-content;
        border: 2px solid rgb(36, 60, 116);
    }
    .wuGalleryDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        height: fit-content;
        padding: 0px;
    }
    .reverse{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .textDiv{
        padding: 0px;
        width: 500px;
        height: fit-content;
        margin: auto;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 12px;
    }
    .textDiv>h2{
        font-size: 22px;
        margin: auto;
        margin-bottom: 5px;
    }
    .pictureDiv{
        height: fit-content;
        width: fit-content;
        padding: 0px;
    }
    .pictureDiv{
        padding: 50px 10px;
        width: 600px;
        height: 400px;
        object-fit: cover;
    }
    .pictureDiv>img{
        height: 300px;
        width: 95%;
        object-fit: cover;
    }
}
     /* 767PX - 992PX - HAMBURGER TOGGLE ON */
@media (min-width: 767px) and (max-width: 992px) {
    /* LOOPED SECTION */
    .loopedSection{
        padding: 10px;
        gap: 10px;
    }
    .loopedSectionOne video{
        margin-top: 100px;
        width: 300px;
        height: 300px;
    }
    .loopedSectionTwo h1{
        font-size: 25px;
    }
    .loopedSectionTwo{
        font-size: 15px;
    }
    /* GOALS */
    .goals{
        margin: 0 0 50px 0;
    }
    .goalsDiv>h1{
        font-size: 30px;
    }
    /* OUR PARTNERS */
    .ourPartnersDiv>h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 30px;
        color: rgb(36, 60, 116);
        text-align: center;
        margin: auto;
    }
    .partners{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .partners>img{
        width: 150px;
        height: 150px;
    }
    /* WHY CHOOSE US */
    .whyChooseUs{
        width: 80vw;
        height: fit-content;
        margin: auto;
        margin-bottom: 10px;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        line-height: 2.5;
        font-weight: 300;
        text-align: justify;
        text-indent: 20px;
        font-size: 15px;
    }
    .whyChooseUs>h1{
        font-size: 25px;
    }
    .reverse{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .textDiv{
        padding: 10px;
        width: 500px;
        height: fit-content;
        margin: auto;
        /* text edit */
        font-size: 12px;
        line-height: 1.2;
    }
    .textDiv>h2{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 22px;
        color: rgb(36, 60, 116);
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
        width: fit-content;
    }
    .pictureDiv{
        height: fit-content;
        width: fit-content;
        padding: 10px;
    }
    .pictureDiv{
        padding: 50px 10px;
        width: 600px;
        height: 400px;
        object-fit: cover;
    }
    .pictureDiv>img{
        height: 300px;
        width: 95%;
        object-fit: cover;
    }
}
/* HAMBURGER TOGGLE */
@media (max-width: 893px) {
    /* HAMBURGER */
    .hamburgerMenu {
        z-index: 50;
        display: block; 
        top: 0;
        left: 0;
        position: fixed;
        padding: 20px;
        height: 60px;
        width: 100vw;
        background-color: rgb(36, 60, 116);
        box-shadow: 0 0 10px rgb(3, 3, 3);
    }
    .hamburgerMenu.active + header {
        display: none;
    }
    .bar {
        margin-bottom: 5px;
        width: 20px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
    }
    /* NAVBAR */
    header{
        display: none;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 0;
        padding: 20px;
    }
    .logo{ 
        width: 80px;
        height: 80px;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin: auto;
    }
    nav{
        margin: auto;
        margin-top: 5px;
        display: block;
    }
    .navLinks li{
        list-style: none;
        display: block;
    }
    .navLinks li a{
        
        width: 100%;
        display: block;
    }
    /* DROPDOWN */
    .serviceDropdown{
        display: block;
        position: relative;
    }
    .serviceOptions{
        width: 200px;
        margin: -5px 0 0 0;
    }
    .contactUs{
        margin-top: 10px;
    }
}
/* 890PX - 1024PX - FOOTER COLUMN */
@media (max-width: 892px) { 
    footer{
        margin: auto;
        flex-direction: row;
        align-items: center;
        width: 100vw;
    }
    .footerOne{
        width: 45%;
        height: fit-content;
        padding: 10px;
        margin: auto;
    }
    .footerOneDiv{
        width: 100%;
        height: fit-content;
    }
    .socials{
        justify-content: left;
        align-items: flex-start;
        width: 30%;
        padding: 10px;
        margin: inherit;
    }
    .socialsDiv img{
        width: 30px;
        height: 30px;
        margin: 0 0 0 10px;
    }
    .socialsDiv img:hover{
        transform: none;
    }
    .footerTwo{
        width: 40%;
        height: fit-content;
        margin: auto;
    }
    .footerTwoDiv p{
        margin-bottom: 10px;
    }
    .footerThree{
        margin: auto;
        width: 40%;
        height: fit-content;
        padding: 0px;
    }
    .footerFour{
        margin: auto;
        width: 40%;
        height: fit-content;
        padding: 10px;
    }
}