@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&display=swap');
*{
    /* outline: red solid 2px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.button{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    display: block;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(36, 60, 116);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin: 10px auto;
}
.button:hover{
    background-color: rgb(255, 194, 81);
    color: rgb(36, 60, 116);
    font-weight: 700;
    font-size: 1.3rem;
}
    /* NAVIGATION BAR */
header{
    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10%;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    margin-right: 60px;
}
.navLinks li{
    list-style: none;
    display: inline-block;
}
.navLinks li>a{
    padding: 10px;
    margin-right: 20px;
    /* textEdit */
    color: white;
    font-weight: 50;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.navLinks li>a:hover{
    color: rgb(36, 60, 116);
    font-weight: 700;
    background-color: rgb(255, 194, 81);
}
/* DROPDOWN */
.serviceDropdown{
    display: inline-block;
    position: relative;
}
.serviceOptions{
    display: none;
    position: absolute;
    overflow: auto;
    padding: 10px;
    margin: 10px 5px;
    width: 300px;
    margin: 11px 0 0 0;
    background-color:rgb(36, 60, 116);
    box-shadow: 0 0 20px rgb(36, 60, 116);
}
.serviceOptions a{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 8px;
    display: inline-block;
    /* textEdit */
    color: white;
    font-weight: 200;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.serviceOptions a:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
.serviceDropdown:hover .serviceOptions{
    display: block;
}
.contactUs{
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    padding: auto;
    margin: auto;
    background-color: white;
    /* textEdit */
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
}
.contactUs:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
/* HAMBURGER */
#navbar.show-navbar {
    display: block;
}
.hamburgerButton {
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    width: 20px;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 2px;
    background-color: white;
}
/* BODY  */
.padding{
    margin: 0 0 -10vh 0;
}
.pad{
    width: 100vw;
    height: 35vh;
    margin-top: 8vh;
}
.padding h1{
    margin: -20vh 0 20vh 0;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "lobster two", sans-serif;
}
/* CAROUSEL */
.carousel{
    width: 100vw;
    height: fit-content;
}
.carouselGallery{
    scroll-behavior: smooth;
    overflow: auto;
    white-space: nowrap;
    width: 100vw;
    height: 45vh;
    padding: 0.3rem;
    background-color: rgba(36, 60, 116, 0.2);
}
.carouselGallery>img{
    cursor: pointer;
    width: 70%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.introText{
    position: absolute;
    top: 55vh;
    left: 3vw;
    width: 70%;
    padding: 10px;
}
.introText>h1{
    font-family: "Cinzel Decorative", 'sans-serif';
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 5px;
    color: rgb(255, 194, 81);
    width: fit-content;
}
.introText>p{
    font-family: "Lobster two", 'anton';
    font-weight: 200;
    text-align: left;
    font-size: 25px;
    color:rgb(255, 194, 81);
}
/* OVERVIEW */
.overview{
    margin-top: 10vh;
    width: 100vw;
    height: fit-content;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
}
.overviewDiv{ 
    height: 18rem;
    width: 18rem;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgb(36, 60, 116);
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}
.overviewDiv>img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}
.overviewDiv>h1{
    color: rgb(255, 194, 81);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    text-align: center;
}
.overviewDiv:hover{
    background-color: rgb(36, 60, 116);
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    transform: scale(1.1);
}
/* WHO WE ARE */
.whoWeAre{
    margin: 20px auto;
    padding: 20px;
    width: 100vw;
    height: fit-content;
}
.whoWeAre h2{
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: rgb(36, 60, 116);
    text-align: center;
    margin: -2vh 0 2vh 0;
}
.whoweareGallery{ 
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgb(36, 60, 116);
}
.whoweareGalleryOne{
    width: 50%;
    height: 60vh;
}
.whoweareGalleryOne img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.whoweareGalleryTwo{
    width: 48%;
    height: fit-content;
    object-fit: cover;
}
.wwagTwoOne h2{
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: rgb(36, 60, 116);
}
.wwagTwoOne p{
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    color: rgb(36, 60, 116);
    margin-bottom: 20px;
}
.bold{
    color: rgb(255, 194, 81)
}
/* WHAT WE DO*/
.padText{
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: rgb(36, 60, 116);
    text-align: center;
    margin: 0 0 2vh 0;
}
.whatWeDo{
    height: fit-content;
    width: 100vw;
    padding: 1.5rem;
    background-image: url(images/solar\ panel.jpg);
    background-position: 40%;
}
.whatwedoGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    height: fit-content;
}
.whatwedoGalDiv{
    height: 20rem;
    width: 20rem;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgb(36, 60, 116);
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}
.whatwedoGalDiv h1{
    color: rgb(255, 194, 81);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    text-align: center;
}
.whatwedoGalDiv img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    padding: 0.5rem;
    display: block;
    margin: 20px auto;
}
.whatwedoGalDiv:hover{
    color: white;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 20px 0 rgb(36, 60, 116);
    transform: scale(1.1);
}
/* EXECTUED PROJECTS */
.executedProjects h2{
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    color: rgb(36, 60, 116);
    text-align: center;
    margin: auto;
}
.executedProjects{
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    margin: auto;
    margin-bottom: 5vh;
    background-color: rgb(255, 255, 255);
}
.executedProjectsGallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem;
    width: 100%;
    height: fit-content;
}
.epGalleryDiv{
    height: 19rem;
    width: 18rem;
    padding: 1.5rem;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}
.epGalleryDiv video{
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
}
/* FOOTER */
footer{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    padding: 1.5rem;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.footerOne{
    width: 20%;
    padding: 1rem;
    height: fit-content;
    margin: auto;
    
}
.footerOneDiv{
    width: 100%;
    height: fit-con tent;
    padding: 1px;
}
.contactText {
    display: inline-block;
    width: 60%;
    height: fit-content;
    color: white;
    font-family: Montserrat;
    font-size: 0.7rem;
}
.contactImages{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.contactImages img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}
.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: fit-content;
    margin: 0.5rem auto;
    padding: 0.5rem;
}
.socialsDiv{
    margin: auto;
    width: 2rem;
    height: 2rem;
}
.socialsDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.socialsDiv img:hover{
    transform: translateY(10px);
}
.footerTwo{
    width: 20%;
    padding: 1rem;
    height: fit-content;
    margin: auto;
}
.footerTwoDiv {
    width: 100%;
    height: fit-content;
    /* text edit */
    font-family: Montserrat;
    text-align: justify;
    text-indent: 15px;
    font-size: 0.7rem;
    color: white;
}
.f-title {
    font-size: 0.9rem;
    font-family: "Cinzel Decorative";
    color: rgb(255, 194, 81);
    margin-bottom: 0.5rem;
    text-align: center;
}
.footerThree{
    margin: auto;
    width: 17%;
    height: fit-content;
    padding: 0.5rem;
}
.footerThreeDiv{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
footer li>a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 0.7rem;
    color: white;
}
footer li>a:hover{
    color: rgb(255, 194, 81);
}
footer li{
    list-style-type:square;
    color: white;
    font-family: Montserrat;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.footerFour{
    margin: auto;
    width: 17%;
    height: fit-content;
}
.footerFourDiv{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
/* MEDIA QUERY */
/*319px - 480px */
@media (min-width: 319px) and (max-width: 480px) {
        /* CAROUSEL */
    .carouselGallery{
        height: 40vh;
        padding: 1rem;
    }
    .introText{
        position: absolute;
        top: 59vh;
        left: 5vw;
    }
    .introText>h1{
        font-size: 2rem;
    }
    .introText>p{
        font-size: 1rem;
    }
    /* OVERVIEW */
    .overview{
        padding: 2rem;
    }
    .overviewDiv{ 
        height: 15rem;
        width: 15rem;
        padding: 0.8rem;
    }
    .overviewDiv:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(36, 60, 116);
        transform: none;
    }
    /* WHO WE ARE */
    .whoWeAre{
        padding: 1.5rem;
    }
    .whoWeAre h2{
        margin: -5vh 0 2vh 0;
    }
    .whoweareGallery{ 
        flex-direction: column;
        gap: 2rem;
    }
    .whoweareGalleryOne{
        width: 100%;
        height: 20vh;
    }
    .whoweareGalleryTwo{
        width: 100%;
        padding: 1.5rem;
    }
    .wwagTwoOne h2{
        font-size: 1.5rem;
    }
    .wwagTwoOne p{
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    /* WHAT WE DO*/
    .whatwedoGalDiv img{
        width: 30%;
        height: 30%;
    }
    .whatwedoGalDiv{
        height: 17rem;
        width: 17rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .whatwedoGalDiv:hover{
        color: rgb(36, 60, 116);
        background-color:white;
        transform: none;
    }
    /* EXECTUED PROJECTS */
    .executedProjects{
        width: 100vw;
        height: fit-content;
        padding: 1.5rem;
        margin: auto;
        margin-bottom: 5vh;
    }
}
/* 767PX - 992PX - HAMBURGER TOGGLE ON */
@media (min-width: 767px) and (max-width: 992px) {

}
/* HAMBURGER TOGGLE */
@media (max-width: 893px) {
    /* HAMBURGER */
    .hamburgerMenu {
        z-index: 50;
        display: block; 
        top: 0;
        left: 0;
        position: fixed;
        padding: 20px;
        height: 60px;
        width: 100vw;
        background-color: rgb(36, 60, 116);
        box-shadow: 0 0 10px rgb(3, 3, 3);
    }
    .hamburgerMenu.active + header {
        display: none;
    }
    .bar {
        margin-bottom: 5px;
        width: 20px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
    }
    /* NAVBAR */
    header{
        display: none;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 0;
        padding: 20px;
    }
    .logo{ 
        width: 80px;
        height: 80px;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin: auto;
    }
    nav{
        margin: auto;
        margin-top: 5px;
        display: block;
    }
    .navLinks li{
        list-style: none;
        display: block;
    }
    .navLinks li a{
        
        width: 100%;
        display: block;
    }
    /* DROPDOWN */
    .serviceDropdown{
        display: block;
        position: relative;
    }
    .serviceOptions{
        width: 200px;
        margin: -5px 0 0 0;
    }
    .contactUs{
        margin-top: 10px;
    }
}
/* 890PX - 1024PX - FOOTER COLUMN */
@media (max-width: 892px) { 
        /* FOOTER */
    footer{
        padding: 0.5rem;
    }
    .footerOne{
        width: 50%;
        padding: 0rem;
    }
    .contactText {
        display: inline-block;
        width: 80%;
    }
    .contactImages img{
        width: 1rem;
        height: 1rem;
    }
    .socials{
        width: 70%;
        padding: 0.5rem;
    }
    .socialsDiv{
        margin: auto;
        width: 2rem;
        height: 2rem;
    }
    .socialsDiv img:hover{
        transform: none;
    }
    .footerTwo{
        width: 45%;
        padding: 0;
    }
    .footerThree{
        margin: auto;
        width: 45%;
        padding: 0;
    }
    .footerFour{
        margin-top: 0.5rem;
        width: 45%;
    }
}