@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@500&family=Cinzel+Decorative:wght@900&family=Dancing+Script:wght@500&family=Lobster+Two:wght@700&family=Montserrat:wght@500&family=Noto+Naskh+Arabic:wght@600&family=Nunito+Sans:wght@300&display=swap');
*{
    /* outline: red solid 2px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
    text-decoration: none;
}

    /* NAVIGATION BAR */
header{
    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10%;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    margin-right: 60px;
}
.navLinks li{
    list-style: none;
    display: inline-block;
}
.navLinks li>a{
    padding: 10px;
    margin-right: 20px;
    /* textEdit */
    color: white;
    font-weight: 50;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.navLinks li>a:hover{
    color: rgb(36, 60, 116);
    font-weight: 700;
    background-color: rgb(255, 194, 81);
}
/* DROPDOWN */
.serviceDropdown{
    display: inline-block;
    position: relative;
}
.serviceOptions{
    display: none;
    position: absolute;
    overflow: auto;
    padding: 10px;
    margin: 10px 5px;
    width: 300px;
    margin: 11px 0 0 0;
    background-color:rgb(36, 60, 116);
    box-shadow: 0 0 20px rgb(36, 60, 116);
}
.serviceOptions a{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 8px;
    display: inline-block;
    /* textEdit */
    color: white;
    font-weight: 200;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.serviceOptions a:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
.serviceDropdown:hover .serviceOptions{
    display: block;
}
.contactUs{
    display: block;
    width: 150px;
    height: 50px;
    border: none;
    padding: auto;
    margin: auto;
    background-color: white;
    /* textEdit */
    font-weight: 200;
    font-size: 14px;
    text-decoration: none;
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
}
.contactUs:hover{
    font-weight: 700;
    color: rgb(36, 60, 116);
    background-color: rgb(255, 194, 81);
}
/* HAMBURGER */
#navbar.show-navbar {
    display: block;
}
.hamburgerButton {
    cursor: pointer;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    width: 20px;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 2px;
    background-color: white;
}
footer .button{ 
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color:  rgb(36, 60, 116);
    border: none;
    cursor: pointer;
    margin: 1rem auto;
}
button{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    display: block;
    padding: 0.7rem;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color:  rgb(36, 60, 116);
    border: none;
    cursor: pointer;
    margin: 1rem auto;
}
.button:hover{
    background-color: rgb(255, 194, 81);
    color: rgb(36, 60, 116);
    font-weight: 700;
}
/* PADDING */
.pad{
    width: 100vw;
    height: 30vh;
    margin-top: 5 vh;
    object-fit: cover;
}
.padding h1{
    margin: -15vh 0 12vh 0;
    font-weight: 200;
    font-size: 5rem;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "lobster two", sans-serif;
}
/* MEET THE TEAM */
.meetTheTeam{
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 1.5rem;
    text-indent: 15px;
    width: 80vw;
    line-height: 1.5;
    margin:  auto;
}
.meetTheTeam h1{
    font-family: "Cinzel Decorative";
    font-size: 2.5rem;
    text-align: center;
    color: rgb(255, 194, 81);
}
.meetTheTeam img{
    display: block;
    width: 80vw;
    height: 500px;
    object-fit: cover;
    margin: 1rem auto;
    margin-bottom: 2rem;
}
/* THE TEAM */
.theTeam{
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: fit-content;
    gap: 1rem;
}
.theTeamLeft{
    margin: 1rem auto;
    width: calc(100% - wrapper width);
    height: fit-content;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 1.5rem;
    text-indent: 15px;
    line-height: 1.5;
}
.wrapper {
    display: flex;
    width: fit-content;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    width: 15rem;
    height: 16rem;
    padding: 1rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.card:hover, .card:active {
    transform: translateY(20px);
    box-shadow: 0 0 20px rgb(36, 60, 116);
}
.card:hover:before, .car:active {
    opacity: 1;
}
.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}
.card .info h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
}
.card .info p {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: justify;
    font-size: 0.5rem;
    letter-spacing: 1px;
    margin-top: 8px;
}
.card .info h2 {
    color: rgb(255, 194, 81);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
}
/* OUR CULTURE */
.ourCulture{
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.ourCulture h1{
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 1.8rem;
    color: rgb(36, 60, 116);
    text-align: center;
}
.cultureContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    border: solid 2px rgb(36, 60, 116);
}
.cultureContainerDiv{ 
    margin: auto;
    width: 10rem;
    height: 12rem;
    /* text edit */
    color: rgb(36, 60, 116);
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
}
.cultureContainerDiv img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: auto;
    margin-top: 10px;
}
/* JOIN OUR TEAM */
.joinOurTeam{
    width: 100vw;
    height: 50vh;
    padding: 6rem;
    margin-bottom: 7rem;
    background-image: url(images/joinOurTeam.jpg) ;
    background-position-y: 32%;
    background-size: cover;
}
.joinOurTeam p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 70%;
}
.joinOurTeam h1{
    font-family: "Anton", sans-serif;
    font-weight: 50;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 100px;
}
/* FOOTER */
footer{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    padding: 1.5rem;
    background-color: rgb(36, 60, 116);
    box-shadow: 0 0 30px rgb(36, 60, 116);
}
.footerOne{
    width: 20%;
    padding: 1rem;
    height: fit-content;
    margin: auto;
}
.footerOneDiv{
    width: 100%;
    height: fit-con tent;
    padding: 1px;
}
.contactText {
    display: inline-block;
    width: 60%;
    height: fit-content;
    color: white;
    font-family: Montserrat;
    font-size: 0.7rem;
}
.contactImages{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.contactImages img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}
.socials{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}
.socialsDiv{
    margin: auto;
    margin-right: 20px;
    width: 2rem;
    height: 2rem;
}
.socialsDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.socialsDiv img:hover{
    transform: translateY(10px);
}
.footerTwo{
    width: 40%;
    padding: 1rem;
    height: fit-content;
    margin: auto;
}
.footerTwoDiv {
    width: 100%;
    height: fit-content;
    /* text edit */
    font-family: Montserrat;
    text-align: justify;
    text-indent: 15px;
    font-size: 0.7rem;
    color: white;
}
.f-title {
    font-size: 0.9rem;
    font-family: "Cinzel Decorative";
    color: rgb(255, 194, 81);
    margin-bottom: 0.5rem;
    text-align: center;
}
.footerThree{
    margin: auto;
    width: 17%;
    height: fit-content;
    padding: 0.5rem;
}
.footerThreeDiv{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
footer li>a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 0.7rem;
    color: white;
}
footer li>a:hover{
    color: rgb(255, 194, 81);
}
footer li{
    list-style-type:square;
    color: white;
    font-family: Montserrat;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.footerFour{
    margin: auto;
    width: 17%;
    height: fit-content;
}
.footerFourDiv{
    margin: auto;
    height: fit-content;
    width: fit-content;
}
/* MEDIA QUERY */
/*319px - 480px - MOBILE DEVICES*/
@media (min-width: 319px) and (max-width: 480px) {
    footer .button{ 
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.5rem;
        display: block;
        padding: 0.5rem 1rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 1rem auto;
    }
    button{
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.7rem;
        display: block;
        padding: 0.7rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 1rem auto;
    }
    .button:hover{
        background-color: rgb(255, 194, 81);
        color: rgb(36, 60, 116);
        font-weight: 700;
    }
    /* PADDING */
    .pad{
        width: 100vw;
        height: 30vh;
        margin-top: 5vh;
        object-fit: cover;
    }
    .padding h1{
        margin: -15vh 0 10vh 0;
        font-weight: 200;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "lobster two", sans-serif;
    }
    /* MEET THE TEAM */
    .meetTheTeam{
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 0.7rem;
        text-indent: 15px;
        width: 80vw;
        line-height: 1.5;
        margin:  auto;
    }
    .meetTheTeam h1{
        font-family: "Cinzel Decorative";
        font-size: 1.5rem;
        text-align: center;
        color: rgb(255, 194, 81);
    }
    .meetTheTeam img{
        display: block;
        width: 80vw;
        height: 8rem;
        object-fit: cover;
        margin: auto;
        margin-bottom: 2rem;
    }
    /* THE TEAM */
    .theTeam{
        margin: auto;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: fit-content;
        gap: 0rem;
    }
    .theTeamLeft{
        margin: 1rem auto;
        width: 100%;
        height: fit-content;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 0.7rem;
        text-indent: 15px;
        line-height: 1.5;
    }
    .wrapper {
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 15rem;
        height: 15rem;
        padding: 1.5rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    .card:hover, .card:active {
        transform: translateY(20px);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .card:hover:before, .car:active {
        opacity: 1;
    }
    .card:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }
    .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }
    .card img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
    }
    .card .info h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
    }
    .card .info p {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        text-align: justify;
        font-size: 0.5rem;
        letter-spacing: 1px;
        margin-top: 8px;
    }
    .card .info h2 {
        color: rgb(255, 194, 81);
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
    }
    /* OUR CULTURE */
    .ourCulture{
        padding: 1rem;
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .ourCulture h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.5rem;
        color: rgb(36, 60, 116);
        text-align: center;
    }
    .cultureContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
        width: 85vw;
        height: fit-content;
        margin: 10px auto;
        border: solid 2px rgb(36, 60, 116);
    }
    .cultureContainerDiv{ 
        margin: auto;
        width: 5rem;
        height: 6rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        text-align: center;
        font-size: 0.5rem;
    }
    .cultureContainerDiv img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin: auto;
        margin-top: 10px;
    }
    /* JOIN OUR TEAM */
    .joinOurTeam{
        width: 100vw;
        height: 50vh;
        padding: 1rem;
        margin-bottom: 7rem;
        background-image: url(images/joinOurTeam.jpg) ;
        background-position-y: 32%;
        background-size: cover;
    }
    .joinOurTeam p{
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 0.8rem;
        color: rgb(255, 255, 255);
        margin: auto;
        width: 70%;
    }
    .joinOurTeam h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 30px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 0 0 20px 0;
    }
}
/* 481PX - 1200PX - IPADS & TABETS */
@media (min-width: 481px) and (max-width: 1200px) {
    footer .button{ 
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.5rem;
        display: block;
        padding: 0.5rem 1rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 1rem auto;
    }
    button{
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.7rem;
        display: block;
        padding: 0.7rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 1rem auto;
    }
    .button:hover{
        background-color: rgb(255, 194, 81);
        color: rgb(36, 60, 116);
        font-weight: 700;
    }
    /* PADDING */
    .pad{
        width: 100vw;
        height: 30vh;
        margin-top: 5vh;
        object-fit: cover;
    }
    .padding h1{
        margin: -14vh 0 9vh 0;
        font-weight: 200;
        font-size: 4rem;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "lobster two", sans-serif;
    }
    /* MEET THE TEAM */
    .meetTheTeam{
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
        text-indent: 15px;
        width: 80vw;
        line-height: 1.5;
        margin:  auto;
    }
    .meetTheTeam h1{
        font-family: "Cinzel Decorative";
        font-size: 1.7rem;
        text-align: center;
        color: rgb(255, 194, 81);
    }
    .meetTheTeam img{
        display: block;
        width: 80vw;
        height: 400px;
        object-fit: cover;
        margin: 1rem auto;
        margin-bottom: 2rem;
    }
    /* THE TEAM */
    .theTeam{
        margin: auto;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: fit-content;
        gap: 0rem;
    }
    .theTeamLeft{
        margin: 1rem auto;
        width: 100%;
        height: fit-content;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
        text-indent: 15px;
        line-height: 1.5;
    }
    .wrapper {
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 15rem;
        height: 16rem;
        padding: 1rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    .card:hover, .card:active {
        transform: translateY(20px);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .card:hover:before, .car:active {
        opacity: 1;
    }
    .card:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }
    .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }
    .card img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
    }
    .card .info h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
    }
    .card .info p {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        text-align: justify;
        font-size: 0.5rem;
        letter-spacing: 1px;
        margin-top: 8px;
    }
    .card .info h2 {
        color: rgb(255, 194, 81);
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
    }
    /* OUR CULTURE */
    .ourCulture{
        padding: 1rem;
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .ourCulture h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.8rem;
        color: rgb(36, 60, 116);
        text-align: center;
    }
    .cultureContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
        width: 85vw;
        height: fit-content;
        margin: 10px auto;
        border: solid 2px rgb(36, 60, 116);
    }
    .cultureContainerDiv{ 
        margin: auto;
        width: 7rem;
        height: 10rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        text-align: center;
        font-size: 0.7rem;
    }
    .cultureContainerDiv img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        margin: auto;
        margin-top: 10px;
    }
    /* JOIN OUR TEAM */
    .joinOurTeam{
        width: 100vw;
        height: 50vh;
        padding: 3rem;
        margin-bottom: 7rem;
        background-image: url(images/joinOurTeam.jpg) ;
        background-position-y: 32%;
        background-size: cover;
    }
    .joinOurTeam p{
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin: auto;
        width: 70%;
    }
    .joinOurTeam h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 100px;
    }
}
/* 1201PX - 1600PX - LAPTOPS */
@media (min-width: 1201px) and (max-width: 1600px) {
    footer .button{ 
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.7rem;
        display: block;
        padding: 0.5rem 1rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 1rem auto;
    }
    button{
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 0.8rem;
        display: block;
        padding: 0.7rem;
        width: fit-content;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        color:  rgb(36, 60, 116);
        border: none;
        cursor: pointer;
        margin: 1rem auto;
    }
    .button:hover{
        background-color: rgb(255, 194, 81);
        color: rgb(36, 60, 116);
        font-weight: 700;
    }
    /* PADDING */
    .pad{
        width: 100vw;
        height: 30vh;
        margin-top: 10vh;
        object-fit: cover;
    }
    .padding h1{
        margin: -15vh 0 8vh 0;
        font-weight: 200;
        font-size: 3.5rem;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "lobster two", sans-serif;
    }
    /* MEET THE TEAM */
    .meetTheTeam{
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
        text-indent: 15px;
        width: 80vw;
        line-height: 1.5;
        margin:  auto;
    }
    .meetTheTeam h1{
        font-family: "Cinzel Decorative";
        font-size: 2rem;
        text-align: center;
        color: rgb(255, 194, 81);
    }
    .meetTheTeam img{
        display: block;
        width: 80vw;
        height: 350px;
        object-fit: cover;
        margin: 1rem auto;
        margin-bottom: 2rem;
    }
    /* THE TEAM */
    .theTeam{
        margin: auto;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: fit-content;
        gap: 1rem;
    }
    .theTeamLeft{
        margin: 1rem auto;
        width: 50%;
        height: fit-content;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
        text-indent: 15px;
        line-height: 1.5;
    }
    .wrapper {
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 15rem;
        height: 16rem;
        padding: 1rem;
        background: white;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    .card:hover, .card:active {
        transform: translateY(20px);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .card:hover:before, .car:active {
        opacity: 1;
    }
    .card:hover .info {
        opacity: 1;
        transform: translateY(0px);
    }
    .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }
    .card img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    .card .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
    }
    .card .info h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
    }
    .card .info p {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        text-align: justify;
        font-size: 0.5rem;
        letter-spacing: 1px;
        margin-top: 8px;
    }
    .card .info h2 {
        color: rgb(255, 194, 81);
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        margin: 0px;
    }
    /* OUR CULTURE */
    .ourCulture{
        padding: 1rem;
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .ourCulture h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.8rem;
        color: rgb(36, 60, 116);
        text-align: center;
    }
    .cultureContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0.5rem;
        width: 85vw;
        height: fit-content;
        margin: 10px auto;
        border: solid 2px rgb(36, 60, 116);
    }
    .cultureContainerDiv{ 
        margin: auto;
        width: 7rem;
        height: 10rem;
        /* text edit */
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        text-align: center;
        font-size: 0.7rem;
    }
    .cultureContainerDiv img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        margin: auto;
        margin-top: 10px;
    }
    /* JOIN OUR TEAM */
    .joinOurTeam{
        width: 100vw;
        height: 50vh;
        padding: 3rem;
        margin-bottom: 7rem;
        background-image: url(images/joinOurTeam.jpg) ;
        background-position-y: 32%;
        background-size: cover;
    }
    .joinOurTeam p{
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin: auto;
        width: 70%;
    }
    .joinOurTeam h1{
        font-family: "Anton", sans-serif;
        font-weight: 50;
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 100px;
    }
}
/* NAVBAR  */
@media (min-width: 482px) and (max-width: 1600px ) { 
        /* NAVIGATION BAR */
    header{
        z-index: 50;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 10%;
        background-color: rgb(36, 60, 116);
        box-shadow: 0 0 30px rgb(36, 60, 116);
    }
    .logo{
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin-right: 40px;
    }
    .navLinks li{
        list-style: none;
        display: inline-block;
    }
    .navLinks li>a{
        padding: 10px;
        margin-right: 15px;
        /* textEdit */
        color: white;
        font-weight: 50;
        font-size: 0.7rem;
        font-family: "Montserrat", sans-serif;
    }
    .navLinks li>a:hover{
        color: rgb(36, 60, 116);
        font-weight: 700;
        background-color: rgb(255, 194, 81);
    }
    /* DROPDOWN */
    .serviceDropdown{
        display: inline-block;
        position: relative;
    }
    .serviceOptions{
        display: none;
        position: absolute;
        overflow: auto;
        padding: 15px;
        margin: 10px 5px;
        width: 250px;
        margin: 11px 0 0 -50px;
        background-color:rgb(36, 60, 116);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .serviceOptions a{
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 8px;
        display: inline-block;
        /* textEdit */
        color: white;
        font-weight: 200;
        font-size: 0.7rem;
        font-family: "Montserrat", sans-serif;
    }
    .serviceOptions a:hover{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
    .serviceDropdown:hover .serviceOptions{
        display: block;
    }
    .contactUs{
        display: block;
        width: fit-content;
        height: fit-content;
        border: none;
        padding: 1rem 1.5rem;
        margin: auto;
        background-color: white;
        /* textEdit */
        font-weight: 200;
        font-size: 0.8rem;
        text-decoration: none;
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
    }
    .contactUs:hover{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
}
/* HAMBURGER TOGGLE */
@media (max-width: 750px) {
    /* HAMBURGER */
    .hamburgerMenu {
        z-index: 50;
        display: block; 
        top: 0;
        left: 0;
        position: fixed;
        padding: 20px;
        height: 60px;
        width: 100vw;
        background-color: rgb(36, 60, 116);
        box-shadow: 0 0 10px rgb(36, 60, 116);
    }
    .hamburgerMenu.active + header {
        display: none;
    }
    .bar {
        margin-bottom: 5px;
        width: 20px;
        height: 4px;
        background-color: rgb(129, 152, 207);
        border-radius: 2px;
    }
    /* NAVBAR */
    header{
        display: none;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 0;
        padding: 20px;
    }
    .logo{ 
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        background-color: white;
        border-radius: 50%;
        margin: auto;
    }
    nav{ 
        margin: auto;
        margin-top: 5px;
        display: block;
    }
    .navLinks li{
        list-style: none;
        display: block;
    }
    .navLinks li a{
        padding: 10px;
        margin-right: 25px;
        /* textEdit */
        color: white;
        font-weight: 50;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        display: block;
    }
    .navLinks li>a:active{
        color: rgb(36, 60, 116);
        font-weight: 700;
        background-color: rgb(255, 194, 81);
    }
    /* DROPDOWN */
    .serviceDropdown{
        display: block;
        position: relative;
    }
    .serviceOptions{
        width: 250px;
        margin: 0px 0 0 -30px;
        display: none;
        position: absolute;
        overflow: auto;
        padding: 5px;
        background-color:rgb(36, 60, 116);
        box-shadow: 0 0 20px rgb(36, 60, 116);
    }
    .serviceOptions a{
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        display: inline-block;
        /* textEdit */
        color: white;
        font-weight: 200;
        font-size: 0.8rem;
        font-family: "Montserrat", sans-serif;
    }
    .serviceOptions a:active{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
    .contactUs{
        display: block;
        width: 8rem;
        height: 2.2rem;
        border: none;
        padding: auto;
        margin: auto;
        background-color: white;
        /* textEdit */
        font-weight: 200;
        font-size: 1rem;
        text-decoration: none;
        color: rgb(36, 60, 116);
        font-family: "Montserrat", sans-serif;
    }
    .contactUs:active{
        font-weight: 700;
        color: rgb(36, 60, 116);
        background-color: rgb(255, 194, 81);
    }
}
/* 760PX FOOTER COLUMN */
@media (max-width: 760px) { 
        /* FOOTER */
    footer{
        padding: 0.5rem;
    }
    .footerOne{
        width: 50%;
        padding: 0rem;
    }
    .contactText {
        display: inline-block;
        width: 80%;
    }
    .contactImages img{
        width: 1rem;
        height: 1rem;
    }
    .socials{
        width: fit-content;
        padding: 0.5rem;
    }
    .socialsDiv{
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .socialsDiv img:hover{
        transform: none;
    }
    .footerTwo{
        width: 45%;
        padding: 0;
    }
    .footerThree{
        margin: auto;
        width: 45%;
        padding: 0;
    }
    .footerFour{
        margin-top: 0.5rem;
        width: 45%;
    }
}